<mat-card>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <!-- Apellido Column -->
            <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
            </ng-container>

            <!-- num_cuenta Column -->
            <ng-container matColumnDef="num_cuenta">
                <th mat-header-cell *matHeaderCellDef> Numero de Cuenta </th>
                <td mat-cell *matCellDef="let element"> {{element.num_cuenta}} </td>
            </ng-container>

            <!-- Saldo Column -->
            <ng-container matColumnDef="saldo">
                <th mat-header-cell *matHeaderCellDef> Saldo </th>
                <td mat-cell *matCellDef="let element"> {{element.saldo}} </td>
            </ng-container>

            <!-- habilitado Column -->
            <ng-container matColumnDef="habilitado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.habilitado? 'Habilitado': 'Deshabilitado'}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="star" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> Actions</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="setClient(1,element)">Cliente</button>
                        <button mat-menu-item (click)="setClient(2,element)">Ir a Comprar</button>
                        <button mat-menu-item (click)="setClient(3,element)">Recargar Tarjeta</button>
                        <button mat-menu-item (click)="setClient(4,element)">Historico de
                            Transacciones</button>
                    </mat-menu>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="100" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
    </div>
</mat-card>