<mat-toolbar>Postulacion Fernando Riffo</mat-toolbar>

<mat-card>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="margin-top: 20px;">
    <mat-button-toggle value="home" routerLink="/home" (click)="resetClient()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="cliente" routerLink="/cliente" *ngIf="clientSelected">Cliente</mat-button-toggle>
    <mat-button-toggle value="compras" routerLink="/compras" *ngIf="clientSelected">Ir a Comprar
    </mat-button-toggle>
    <mat-button-toggle value="recargar" routerLink="/recargas" *ngIf="clientSelected">Recargar Tarjeta
    </mat-button-toggle>
    <mat-button-toggle value="historico" routerLink="/historico" *ngIf="clientSelected">Historico de Transacciones
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-card>

<router-outlet></router-outlet>