<mat-card>
  <mat-form-field class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="nombre">
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <mat-label>Apellido</mat-label>
    <input matInput [(ngModel)]="apellido">
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <mat-label>Numero de Tarjeta</mat-label>
    <input matInput [value]="user? user.num_cuenta : ''" [disabled]="true">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)=saveData()>Guardar Cambios</button>
  <button mat-raised-button color="warn" (click)=reloadData()>Recargar</button>
</mat-card>