<mat-card>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- Nombre Column -->
            <ng-container matColumnDef="id_movimiento">
                <th mat-header-cell *matHeaderCellDef> Numero de Operacion </th>
                <td mat-cell *matCellDef="let element"> {{element.id_movimiento}} </td>
            </ng-container>

            <!-- Apellido Column -->
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>

            <!-- Saldo Column -->
            <ng-container matColumnDef="compras">
                <th mat-header-cell *matHeaderCellDef> Compras </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo_mov === 'c' ? element.monto : '' || element.tipo_mov === 't' ? element.monto : '' }} </td>
            </ng-container>

            <!-- Saldo Column -->
            <ng-container matColumnDef="recargas">
                <th mat-header-cell *matHeaderCellDef> Recargas </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo_mov === 'r' ? element.monto : '' || element.tipo_mov === 't' ? element.montor : '' || element.tipo_mov === 's' ? element.monto : ''}} </td>
            </ng-container>

            <!-- habilitado Column -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [length]="100"></mat-paginator>
    </div>
</mat-card>