<mat-card>
    <mat-form-field class="full-width">
        <mat-label>Numero de Tarjeta</mat-label>
        <input matInput [value]="user? user.num_cuenta : ''" [disabled]="true">
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
        <mat-label>Saldo de Tarjeta</mat-label>
        <input matInput [value]="user? user.saldo : ''" [disabled]="true">
    </mat-form-field>
    <br>
    <br>
    <mat-form-field class="full-width">
        <mat-label>Monto a Recargar</mat-label>
        <input matInput [value]="0" type="number" min="0" [(ngModel)]="montoRecarga">
    </mat-form-field>
    <br>
    <button mat-raised-button color="warn" (click)="recargar()">Recargar</button>
</mat-card>