<mat-card>
  <form>
    <mat-form-field>
      <mat-label>Seleccionar Producto</mat-label>
      <mat-select [(ngModel)]="producto" name="producto">
        <mat-option *ngFor="let product of listProd" [value]="product">{{ product.nombre_prod }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>Valor</mat-label>
      <input matInput [value]="producto ? producto.valor_prod: ''" [disabled]="true">
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>Numero de Tarjeta</mat-label>
      <input matInput [value]="user? user.num_cuenta : ''" [disabled]="true">
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>Saldo de Tarjeta</mat-label>
      <input matInput [value]="user? user.saldo : ''" [disabled]="true">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" [disabled]="producto? false: true" (click)="comprar()">Comprar Producto</button>
  </form>
</mat-card>